/* Mobile */

@media screen and (min-width: 426px) {
    .container {
        max-width: 396px;
    }
}

.backdrop {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 8.775463104248047px 0px rgba(0, 0, 0, 0.01), 0px 0px 18.17037010192871px 0px rgba(0, 0, 0, 0.02), 0px 0px 36.23749923706055px 0px rgba(0, 0, 0, 0.03), 0px 0px 71.02963256835938px 0px rgba(0, 0, 0, 0.03), 0px 0px 130.5995330810547px 0px rgba(0, 0, 0, 0.04), 0px 0px 223px 0px rgba(0, 0, 0, 0.05);
}

.container {
    /* max-width: 375px; */
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
    overflow: auto;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 8.775463104248047px 0px rgba(0, 0, 0, 0.01), 0px 0px 18.17037010192871px 0px rgba(0, 0, 0, 0.02), 0px 0px 36.23749923706055px 0px rgba(0, 0, 0, 0.03), 0px 0px 71.02963256835938px 0px rgba(0, 0, 0, 0.03), 0px 0px 130.5995330810547px 0px rgba(0, 0, 0, 0.04), 0px 0px 223px 0px rgba(0, 0, 0, 0.05);
}

/* modal-header */
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 295px;
    margin-bottom: 40px;
    padding-bottom: 0;
}

.modal-title {
    color: #141414;
    text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
    font-size: 28px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -1.12px;
    text-transform: uppercase;
}

.modal-close {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    border: none;
    color: #141414;
    background-color: #FFF;
}

/* product */

.modal-product-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    padding-left: 0;
    margin-top: 0;
}

.modal-product-item {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    background: #FAF3E7;
    /* max-width: 295px;
    height: 119px; */
    padding: 0;
    border-radius: 20px;
}

.modal-product-text {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 20px;
    /* gap: 2px; */
}

.modal-product-title {
    color: #141414;
    font-size: 18px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 700;
    line-height: 1.33;
    letter-spacing: -0.72px;
    margin-bottom: 2px;
}

.modal-product-plant {
    color: #141414;
    font-size: 14px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.28px;
}

.modal-product-image {
    padding-top: 33px;
}

/* checkbox */
.modal-checkbox {
    padding-top: 22px;
    padding-right: 20px;
}

.modal-check {
    /* display: none; */
}

.label-check {
    position: relative;
    background-image: url();
}

.modal-check:checked {
    background-image: url(../images/icons.svg/#icon-check);
}

.modal-check:checked+.label-check {
    display: block;
}

/* .accept-check {
    position: absolute;
    background-image: url(img/off);
}

.modal-check:checked+.accept-check {
    background-image: url(../images/icons.svg/#icon-check);
} */

/* modal-form */
.modal-form {
    display: flex;
    flex-direction: column;
    gap: 14px;
    width: 100%;
    margin-top: 40px;
}

.input {
    width: 100%;
}

.modal-input {
    width: 100%;
    min-width: 295px;
    max-width: 295px;
    height: 46px;
    border-radius: 100px;
    border: 1px solid rgba(20, 20, 20, 0.30);
    padding-left: 24px;
    color: rgba(20, 20, 20, 0.50);
    font-size: 14px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.56px;
}

.modal-comment {
    resize: none;
    max-width: 295px;
    width: 100%;
    height: 132px;
    border-radius: 20px;
    border: 1px solid rgba(20, 20, 20, 0.30);
    color: rgba(20, 20, 20, 0.50);
    font-size: 14px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: -0.56px;
    padding-left: 24px;
    padding-top: 24px;
}

/* button */
.send-button {
    display: inline-flex;
    padding: 12px 24px;
    align-items: center;
    justify-content: center;
    border: none;
    margin-top: 20px;
    width: 92px;
    border-radius: 100px;
    background: #FC8A11;
}



/* TABLET */

@media screen and (min-width:768px) {
    .container {
        max-width: 766px;
    }

    .container {
        width: 704px;
    }

    .modal-header {
        max-width: 644px;
        margin-bottom: 40px;
    }

    .modal-title {
        color: #141414;
        text-shadow: 0px 4px 70px 0px rgba(0, 0, 0, 0.10);
        font-size: 40px;
        font-family: DM Sans;
        font-style: normal;
        font-weight: 500;
        line-height: 44px;
        letter-spacing: -1.6px;
        text-transform: uppercase;
    }

    .modal-close {}

    .modal-product-list {
        flex-direction: row;
        justify-content: center;
        gap: 12px;
    }

    .modal-product-item {
        max-width: 200px;
        /* height: 250px; */
        display: block;
    }

    .modal-product-image {}

    .modal-checkbox {
        padding-top: 20px;
        padding-right: 20px;
    }


}







/* DESKTOP */

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }
}